/**Font link Raleway**/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900&display=swap');
body {
	font-family: 'raleway','Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}

/***************nav var start******************/

nav .logo{
        width: 20%;
    margin: 0 auto;
}
.form-inline .search {
    margin: 0px 0px 0px -65px;
}
.form-inline{
    margin-bottom: 0!important;
    width: 100%;
    padding:  0px;
}
.searchicn{
    width: 85%;
}
.form-inline .form-control {
    display: inline-block;

    vertical-align: middle;
    width: 100% !important;
}
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: 20px 30px;
    border-radius: 100px;
    margin: 0px 0px 0px -80px;
}
.nav-item .link1{
   font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    padding: 12px 39px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
}
.nav-item .link1:hover{
    border-radius: 10px;
    transition: 0.6s;
    background-color: white;
    border: 2px solid #00db59;
}
nav{
    background-color: #4f98e2;
}
header{
    background-color: #4f98e2;
}
/***************nav var End******************/

/**************body************/
body{
    background-image: url(../img/section-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 30%;
    margin: 0 auto;
}

/****section menu****/

.meau{

}
.meau a{
   text-decoration: none;
}
.home{
    background-color: white;
    margin: 40px 170px 20px 0;
    padding: 30px 0px;
}
}
.home .home:hover{
    
}
.hometag{
   font-family: 'Raleway', sans-serif;
    padding: 0px 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.home:hover{
   border-radius: 20px;
   transition: 0.6s;
   border: 0px solid;
   cursor: pointer;
   background-color: #f4f4f4;
}
.home:hover img{
    margin: -10px 0px 10px 0px;
    transition: 0.6s;
}

.form {
    background-color: rgba(1, 239, 100, 0.5);
    margin: 40px 0px 0px 0px;
    padding: 0px 90px;
}
.profile{

}
.profile img {
    width: 40%;
    margin: 30px 0px 60px 0px;
}
.Button{

}
.Button .btn1 {
    background-color: #5098E4;
    margin: 35px 0px 0px 100px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 14px;
}
.Button .btn1 a{
    color: black;
    text-decoration: none;
}
.Button .btnDemo a{
    color: black;
    text-decoration: none;
}
.Button2{
   
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 30px 0px 0px 100px;
    padding: 10px 40px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: 3px solid black;
}
.button2 .btn2 a{
   text-decoration: none; 
   color: white;
}
.no-padding{
    padding: 5px;
}
.form-group{

}
.form-group input {
    padding: 10px 20px;
    margin: 0px 0px 0px 0px;
    border: 2px solid black;
}
.form-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00f062;
  opacity: 1; /* Firefox */
  font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
/**footer nav**/
.footer-nav {
    background-color: #16370f;
    margin-top: 35px;
}
.nav{
 width: 100%;
}
.list{
    padding: 15px 33px;
}
.list a{
  font-family: 'Raleway', sans-serif;
    padding: 20px 60px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px; 
}
.language{
    display: inline;
    color: #00d200;
}
.main-footer{
    background-color: #4f98e2;
    padding:  0px;
}
.footer-last{
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
}
.menu{font-size: 40px;color: #00db59;margin-bottom: 10px;}



/****REsponsive CSS START HERE****/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
.home1{
    display: none;
}  
.hidden-nav{
    display: none;
}  
.Button .btn1 {
    display: block;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: none;
} 
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
.home1{
    display: none;
}   
.hidden-nav{
    display: none;
}  
.Button .btn1 {
    display: block;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: none;
} 
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
    ::-ms-.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 131px;
}
.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 131px;
    white-space: nowrap;
}

.home1{
    display: none;
}   
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: -17px 0px 65px 0px;
    border-radius: 100px;
    margin: 0 auto;
}
.home {
    background-color: white;
    margin: 0px 30px 20px 30px;
    padding: 40px 0px;
}
.news-inner {
    background-color: #00f062;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
}
.meau {
    margin: 0px 0px 0px -240px;
}
.user {
    background: white;
    padding: 0px 0px 35px 0px;
    margin: 40px 0px 0px -65px;
}
.bar {
    background: #09102b;
    padding: 24px 0px 27px 0px;
    margin: 40px -65px 0px 0px;
}
.news-inner {
    background-color: #00f062;
    margin: 35px 0px 0px -230px;
    padding-bottom: 10px;
}
.main-news {
    margin: 0px;
    background-color: white;
}
.news-header {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 40px;
    padding-top: 20px;
}
.media-body p {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.media-body h5 {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 30px;
}  
.home{
    display: none;
}
.home1{
    background-color: white;
    margin: 40px 100px 20px 80px;
    padding: 20px 0px;
}

.hometag{
   font-family: 'Raleway', sans-serif;
    padding: 12px 39px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
}
.home1:hover{
   border-radius: 20px;
   transition: 0.6s;
   border: 0px solid;
   cursor: pointer;
   background-color: #f4f4f4;
}
.home1:hover img{
    margin: -10px 0px 10px 0px;
    transition: 0.6s;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 45%;
    margin: 0px 0px 25px 10px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin: 0px 0px 0px -5px;
}
.nav-item .link1 {
    font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
    border-radius: 22px;
    display: block;
    width: 100%;
    padding: 10px 100px;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
}
.form-inline {
    margin-bottom: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px -10px !important;
}
.nav-item{

}
.nav-item i {
    margin: 0px 10px 10px 0px;
    font-size: 20px;
}
.nav-item a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 100%;
    font-size: 20px;
}  
.form {
    background-color: rgba(1, 239, 100, 0.5);
    margin: 40px 0px 0px 0px;
    padding: 0px 20px;
} 
.profile img {
    width: 80%;
    margin: 97px 0px 0px 135px;
}
.Button .btn1 {
    background-color: #5098E4;
    margin: 225px 0px 0px -125px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;

}

.Button .btn1 {
    display: none;
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 290px 0px 0px -91px;
    padding: 7px 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
}
}
/**i-pad pro**/
@media (min-width: 1024px) and (max-width: 1200px) {
.home1{
    display: none;
} 
.hidden-nav{
    display: none;
}  
.Button .btn1 {
    background-color: #5098E4;
    margin: 35px 0px 0px 10px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 102px 0px 0px 35px;
    padding: 7px 39px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
}
.home {
    background-color: white;
    margin: 40px 55px 20px 10px;
    padding: 40px 0px;
} 
.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 0px 0px 0px 116px;
    display: none;
}  
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.home1{
    display: none;
}   
.home{
    display: none;
} 
.Button .btn1 {
    display: none;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 .home1{
    display: none;
}   
.home{
    display: none;
}  
.Button .btn1 {
    display: none;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
    display: block;
}   
.profile img {
    width: 80%;
    margin: 30px 0px 61px 35px;
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 0px 0px 0px 100px;
    padding: 10px 39px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 45%;
    margin: 0px 0px 25px 10px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin: 0px 0px 0px -5px;
}
.nav-item .link1 {
    font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
    border-radius: 22px;
    display: block;
    width: 100%;
    padding: 10px 100px;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
}
.form-inline {
    margin-bottom: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px -10px !important;
}
.nav-item{

}
.nav-item i {
    margin: 0px 10px 10px 0px;
    font-size: 20px;
}
.nav-item a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 100%;
    font-size: 20px;
}  
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: 30px 30px;
    border-radius: 100px;
    margin: 0 auto;
}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: -17px 0px 65px 0px;
    border-radius: 100px;
    margin: 0 auto;
}
.home {
    background-color: white;
    margin: 0px 30px 20px 30px;
    padding: 40px 0px;
}
.news-inner {
    background-color: #00f062;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
}
.user {
    background: white;
    margin: 40px 30px 0px 30px;
    padding: 0px 0px 35px 0px;
}
.bar {
    background: #09102b;
    margin: 40px 30px 20px 30px;
    padding: 24px 0px 27px 0px;
}
.main-news {
    margin: 0px;
    background-color: white;
}
.news-header {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 40px;
    padding-top: 20px;
}
.form {
    background-color: rgba(1, 239, 100, 0.5);
    margin: 0px 0px 0px 0px;
    padding: 0px 35px;
}
.profile img {
    width: 80%;
    margin: 10px 0px 10px 35px;
}
.Button .btn1 {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.button2 .btn2 {
    background-color: #5098E4;
    padding: 7px 39px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.media-body p {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.media-body h5 {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 30px;
}  
.home{
    display: none;
}
.home1{
    background-color: white;
    margin: 40px 100px 20px 80px;
    padding: 20px 0px;
}

.hometag{
   font-family: 'Raleway', sans-serif;
    padding: 12px 39px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
}
    
.home1:hover{
   border-radius: 20px;
   transition: 0.6s;
   border: 0px solid;
   cursor: pointer;
   background-color: #f4f4f4;
}
.home1:hover img{
    margin: -10px 0px 10px 0px;
    transition: 0.6s;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 45%;
    margin: 0px 0px 25px 10px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin: 0px 0px 0px -5px;
}
.nav-item .link1 {
    font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
    border-radius: 22px;
    display: block;
    width: 100%;
    padding: 10px 100px;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
}
.list {
    padding: 15px 0px;
}
.form-inline {
    margin-bottom: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px -10px !important;
}
.nav-item{

}
.nav-item i {
    margin: 0px 10px 10px 0px;
    font-size: 20px;
}
.nav-item a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 100%;
    font-size: 20px;
}
.Button .btn1 {
    display: none;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px 0px 0px 0px;
}

}/**Font link Raleway**/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900&display=swap');

/***************nav var start******************/

nav .logo{
        width: 20%;
    margin: 0 auto;
}
.form-inline .search {
    margin: 0px 0px 0px -65px;
}
.form-inline{
    margin-bottom: 0!important;
    width: 100%;
    padding:  0px;
}
.searchicn{
    width: 85%;
}
.form-inline .form-control {
    display: inline-block;

    vertical-align: middle;
    width: 100% !important;
}
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: 20px 30px;
    border-radius: 100px;
    margin: 0px 0px 0px -80px;
}
.nav-item .link1{
   font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    padding: 12px 39px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
}
.nav-item .link1:hover{
    border-radius: 10px;
    transition: 0.6s;
    background-color: white;
    border: 2px solid #00db59;
}
nav{
    background-color: #4f98e2;
}
header{
    background-color: #4f98e2;
}
/***************nav var End******************/

/**************body************/
body{
    background-image: url(../img/section-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 30%;
    margin: 0 auto;
}

/****section menu****/

.meau{

}
.meau a{
   text-decoration: none;
}
.home{
    background-color: white;
    margin: 40px 170px 20px 0;
    padding: 30px 0px;
}
}
.home .home:hover{
    
}
.hometag{
   font-family: 'Raleway', sans-serif;
    padding: 0px 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.home:hover{
   border-radius: 20px;
   transition: 0.6s;
   border: 0px solid;
   cursor: pointer;
   background-color: #f4f4f4;
}
.home:hover img{
    margin: -10px 0px 10px 0px;
    transition: 0.6s;
}

.form {
    background-color: rgba(1, 239, 100, 0.5);
    margin: 40px 0px 0px 0px;
    padding: 0px 90px;
}
.profile{

}
.profile img {
    width: 40%;
    margin: 30px 0px 60px 0px;
}
.Button{

}
.Button .btn1 {
    background-color: #5098E4;
    margin: 35px 0px 0px 100px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 14px;
}
.Button .btn1 a{
    color: black;
    text-decoration: none;
}
.Button .btnDemo a{
    color: black;
    text-decoration: none;
}
.Button2{
   
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 30px 0px 0px 100px;
    padding: 10px 40px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid black;
}
.button2 .btn2 a{
   text-decoration: none; 
   color: white;
}
.no-padding{
    padding: 5px;
}
.form-group{

}
.form-group input {
    padding: 10px 20px;
    margin: 0px 0px 0px 0px;
    border: 2px solid #555;
}
.form-group input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00f062;
  opacity: 1; /* Firefox */
  font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
/**footer nav**/
.footer-nav {
    background-color: #16370f;
    margin-top: 35px;
}
.nav{
 width: 100%;
}
.list{
    padding: 15px 33px;
}
.list a{
  font-family: 'Raleway', sans-serif;
    padding: 20px 60px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px; 
}
.language{
    display: inline;
    color: #00d200;
}
.main-footer{
    background-color: #4f98e2;
    padding:  0px;
}
.footer-last{
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
}
.menu{font-size: 40px;color: #00db59;margin-bottom: 10px;}



/****REsponsive CSS START HERE****/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
.home1{
    display: none;
}  
.hidden-nav{
    display: none;
}  
.Button .btn1 {
    display: block;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: none;
} 
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
.home1{
    display: none;
}   
.hidden-nav{
    display: none;
}  
.Button .btn1 {
    display: block;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: none;
} 
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
    ::-ms-.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 131px;
}
.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 131px;
    white-space: nowrap;
}

.home1{
    display: none;
}   
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: -17px 0px 65px 0px;
    border-radius: 100px;
    margin: 0 auto;
}
.home {
    background-color: white;
    margin: 0px 30px 20px 30px;
    padding: 40px 0px;
}
.news-inner {
    background-color: #00f062;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
}
.meau {
    margin: 0px 0px 0px -240px;
}
.user {
    background: white;
    padding: 0px 0px 35px 0px;
    margin: 40px 0px 0px -65px;
}
.bar {
    background: #09102b;
    padding: 24px 0px 27px 0px;
    margin: 40px -65px 0px 0px;
}
.news-inner {
    background-color: #00f062;
    margin: 35px 0px 0px -230px;
    padding-bottom: 10px;
}
.main-news {
    margin: 0px;
    background-color: white;
}
.news-header {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 40px;
    padding-top: 20px;
}
.media-body p {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.media-body h5 {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 30px;
}  
.home{
    display: none;
}
.home1{
    background-color: white;
    margin: 40px 100px 20px 80px;
    padding: 20px 0px;
}

.hometag{
   font-family: 'Raleway', sans-serif;
    padding: 12px 39px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
}
.home1:hover{
   border-radius: 20px;
   transition: 0.6s;
   border: 0px solid;
   cursor: pointer;
   background-color: #f4f4f4;
}
.home1:hover img{
    margin: -10px 0px 10px 0px;
    transition: 0.6s;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 45%;
    margin: 0px 0px 25px 10px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin: 0px 0px 0px -5px;
}
.nav-item .link1 {
    font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
    border-radius: 22px;
    display: block;
    width: 100%;
    padding: 10px 100px;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
}
.form-inline {
    margin-bottom: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px -10px !important;
}
.nav-item{

}
.nav-item i {
    margin: 0px 10px 10px 0px;
    font-size: 20px;
}
.nav-item a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 100%;
    font-size: 20px;
}  
.form {
    background-color: rgba(1, 239, 100, 0.5);
    margin: 40px 0px 0px 0px;
    padding: 0px 20px;
} 
.profile img {
    width: 80%;
    margin: 97px 0px 0px 135px;
}
.Button .btn1 {
    background-color: #5098E4;
    margin: 225px 0px 0px -125px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;

}

.Button .btn1 {
    display: none;
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 290px 0px 0px -91px;
    padding: 7px 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
}
}
/**i-pad pro**/
@media (min-width: 1024px) and (max-width: 1200px) {
.home1{
    display: none;
} 
.hidden-nav{
    display: none;
}  
.Button .btn1 {
    background-color: #5098E4;
    margin: 35px 0px 0px 10px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 102px 0px 0px 35px;
    padding: 7px 39px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
}
.home {
    background-color: white;
    margin: 40px 55px 20px 10px;
    padding: 40px 0px;
} 
.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 0px 0px 0px 116px;
    display: none;
}  
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.home1{
    display: none;
}   
.home{
    display: none;
} 
.Button .btn1 {
    display: none;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.btnDemo {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 .home1{
    display: none;
}   
.home{
    display: none;
}  
.Button .btn1 {
    display: none;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
    display: block;
}   
.profile img {
    width: 80%;
    margin: 30px 0px 61px 35px;
}
.button2 .btn2 {
    background-color: #5098E4;
    margin: 0px 0px 0px 100px;
    padding: 10px 39px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 45%;
    margin: 0px 0px 25px 10px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin: 0px 0px 0px -5px;
}
.nav-item .link1 {
    font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
    border-radius: 22px;
    display: block;
    width: 100%;
    padding: 10px 100px;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
}
.form-inline {
    margin-bottom: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px -10px !important;
}
.nav-item{

}
.nav-item i {
    margin: 0px 10px 10px 0px;
    font-size: 20px;
}
.nav-item a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 100%;
    font-size: 20px;
}  
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: 30px 30px;
    border-radius: 100px;
    margin: 0 auto;
}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100% !important;
    padding: -17px 0px 65px 0px;
    border-radius: 100px;
    margin: 0 auto;
}
.home {
    background-color: white;
    margin: 0px 30px 20px 30px;
    padding: 40px 0px;
}
.news-inner {
    background-color: #00f062;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
}
.user {
    background: white;
    margin: 40px 30px 0px 30px;
    padding: 0px 0px 35px 0px;
}
.bar {
    background: #09102b;
    margin: 40px 30px 20px 30px;
    padding: 24px 0px 27px 0px;
}
.main-news {
    margin: 0px;
    background-color: white;
}
.news-header {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 40px;
    padding-top: 20px;
}
.form {
    background-color: rgba(1, 239, 100, 0.5);
    margin: 0px 0px 0px 0px;
    padding: 0px 35px;
}
.profile img {
    width: 80%;
    margin: 10px 0px 10px 35px;
}
.Button .btn1 {
    background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.button2 .btn2 {
    background-color: #5098E4;
    padding: 7px 39px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.media-body p {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.media-body h5 {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 30px;
}  
.home{
    display: none;
}
.home1{
    background-color: white;
    margin: 40px 100px 20px 80px;
    padding: 20px 0px;
}

.hometag{
   font-family: 'Raleway', sans-serif;
    padding: 12px 39px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
}
    
.home1:hover{
   border-radius: 20px;
   transition: 0.6s;
   border: 0px solid;
   cursor: pointer;
   background-color: #f4f4f4;
}
.home1:hover img{
    margin: -10px 0px 10px 0px;
    transition: 0.6s;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 45%;
    margin: 0px 0px 25px 10px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin: 0px 0px 0px -5px;
}
.nav-item .link1 {
    font-family: 'Raleway', sans-serif;
    background-color: #00db59;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid #00db59;
    border-radius: 22px;
    display: block;
    width: 100%;
    padding: 10px 100px;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
}
.list {
    padding: 15px 0px;
}
.form-inline {
    margin-bottom: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px -10px !important;
}
.nav-item{

}
.nav-item i {
    margin: 0px 10px 10px 0px;
    font-size: 20px;
}
.nav-item a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    width: 100%;
    font-size: 20px;
}
.Button .btn1 {
    display: none;
}
.btnDemo{
   background-color: #5098E4;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 19px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px 0px 0px 0px;
}

}