
<!-- 
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img class="logo" src="./assets/img/soccertrial (1).png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">        
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search">
                    <button class="btn my-2 my-sm-0 search" type="submit"><i class="fas fa-search searchicn"></i></button>
                </form>
                <ul class="navbar-nav m-auto text-center hidden-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="gotoVideo()"><i class="fas fa-photo-video"></i> MY VIDEOS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-comment-dots"></i> INBOX </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"><i class="fas fa-cog"></i> SETTINGS </a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav m-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" (click)="logout()" >LOGOUT</button>
                        <button class="dropdown-item" (click)="gotoProfile()" >Profile</button>
                        <button class="dropdown-item" (click)="gotoProfileEdit()" >Profile Edit</button>
                        <button class="dropdown-item" (click)="gotoVideo()" > Video </button>
                        <button class="dropdown-item" (click)="gotoIndex()" > Inbox </button>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</header>
  
<div class="page-2 login-page">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="login-page-box" style="height: 130px;width: 480px !important;">
                    <form  name="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" method="POST">
                        <h5>Select Video</h5>
                        <input type="file" name="uservideo" [(ngModel)]="form.uservideo" (change)="onFileSelect($event)" accept="video/mp4,video/*" required #uservideo="ngModel"/>

                        <button type="submit" class="btn btn-primary"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container msg-body" style="margin-bottom: 5px; margin-top: 5px;"></div>
    </section>

    <section>
        <div class="container">
            <div class="row">     
                <div class="col-lg-4" *ngFor="let v of videos | async">
                    <video [src]="v.video" width="320" height="240" controls loop></video>
                </div>
            </div>
        </div>
    </section>
</div>
-->





<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">

    </head>

    <body>
<!-- THIS IS Dashboard -->
    <app-secure-menu></app-secure-menu>


<!----------menu section---------->
<div class="content-container">
    <div class="sidebar">
        <div class="profile-content">
            <div class="d-flex flex-column align-items-center text-center">
                <img [src]="url" id="thumbnial" alt="User" class="rounded-circle">
                <div class="mt-3">
                <p class="text-secondary mb-1">Welcome Back,</p>
                <h5 style="color: #00CC7E;">{{fstName}}</h5>
                </div>
            </div>
        </div>
        <div class="side-menu">
            <a href="javascript:void(0)" (mouseover)="changeText1=true" (mouseout)="changeText1=false" (click)="gotoProfile()">
                <span *ngIf="!changeText1"></span>
                <span *ngIf="changeText1">
                    <i class="fa fa-angle-right ang-right"></i>
                </span>
                <i class="fa fa-home menu"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home
            </a>
            <a href="javascript:void(0)" (mouseover)="changeText2=true" (mouseout)="changeText2=false" (click)="gotoVideo()">
                <span *ngIf="!changeText2"></span>
                <span *ngIf="changeText2">
                    <i class="fa fa-angle-right ang-right"></i>
                </span>
                <i class="fas fa-video menu"></i>&nbsp;&nbsp;&nbsp;&nbsp;My Video
            </a>
            <a href="javascript:void(0)" (mouseover)="changeText3=true" (mouseout)="changeText3=false" (click)="gotoIndex()">
                <span *ngIf="!changeText3"></span>
                <span *ngIf="changeText3">
                    <i class="fa fa-angle-right ang-right"></i>
                </span>
                <i class="fa fa-comment-dots menu"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inbox
            </a>
            <a href="javascript:void(0)" (mouseover)="changeText4=true" (mouseout)="changeText4=false" (click)="gotoSettings()">
                <span *ngIf="!changeText4"></span>
                <span *ngIf="changeText4">
                    <i class="fa fa-angle-right ang-right"></i>
                </span>
                <i class="fa fa-cog menu"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settings
            </a>
        </div>
    </div>

    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">                        
                        <div class="col-lg-2">
                            <h5>My Videos</h5>
                        </div>
                        <div class="col-lg-9">
                            <form class="form-inline">
                                <input class="form-control" type="search" aria-label="Search">
                                <button class="btn my-2 my-sm-0 search" type="submit">
                                    <i class="fas fa-search searchicn"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-lg-1">
                            <button class="add-video">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-8">
                    <form  name="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" method="POST">                       
                        <div class="row">
                            <div class="col-md-6">
                                <input type="file" name="uservideo"  [(ngModel)]="form.uservideo" (change)="onFileSelect($event)" accept="video/mp4,video/*" required #uservideo="ngModel"/>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary"> Upload </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-6" *ngFor="let v of videos | async" style="margin-bottom: 25px;">
                            <video [src]="v.video" class="video-dis-div" controls loop></video>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
</div>
<!---footer section----->
<app-footer></app-footer>
  
  