

<footer class="text-white-50">
    <div class="container-fluid footer-top">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-1">
                <a href="#" class="text-decoration-none">
                    AGB
                </a>
            </div>
            
            <div class="col-lg-1">
                <a href="#" class="text-decoration-none">
                    Impressum
                </a>
            </div>
            
            <div class="col-lg-1">
                <a href="#" class="text-decoration-none">
                    MORBI&nbsp;group
                </a>
            </div>

            <div class="col-lg-1">
                <a href="#" class="text-decoration-none">
                    Contact
                </a>
            </div>
            
            <div class="col-lg-3"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1">
                <select name="lang" id="lang" class="form-control">
                    <option value="EN">EN</option>
                    <option value="BN">BN</option>
                    <option value="DE">DE</option>
                    <option value="EL">EL</option>
                </select>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

    <div class="container-fluid footer-bottom py-4 bg-dark">
        <div class="row text-center text-white">
            <div class="col-md-3" style="text-align: center;">
                &copy; <span>MORBI 2021</span>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-4 gtc">
                <a href="#" class="text-decoration-none">GTC</a>
                <a href="#" class="text-decoration-none">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>