


.form-inline .search {
    margin: 0px 0px 0px -65px;
}



.searchicn{
    width: 85%;
}



.form-inline .form-control{
    display: inline-block;
    vertical-align: middle;
    width: 90% !important;
    padding: 7px 7px;
    border-radius: 5px;
    border:1px solid #000;
}


.add-video{
    padding: 7px 15px 7px 15px;
    border-radius: 5px;    
    background-color: #00CC7E;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.src_head{
  font-size: 30px;
  font-weight: bold;
}

.fa-icon a{
  text-decoration: none;
}
.fa-icon i{
  font-size: 20px;
  float: right;
  margin-right: 25px;
  color: #000;
}

@media (min-width: 1024px) and (max-width: 1366px){
    
}




@media (min-width: 1281px){
    
    
}



/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/


@media (min-width: 1025px) and (max-width: 1280px){
    
}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
}



/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/


@media (min-width: 768px) and (max-width: 1023px) {
  
    
}

/**i-pad pro**/


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/



/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/



@media (min-width: 481px) and (max-width: 767px){
    
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px){
    
}