.login-page{
  padding: 8% 0 0;
  margin: auto;
}

.form{
  position: relative;
  background: #00CC7E;
  max-width: 480px;
  height: 460px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form input{
  background: #00CC7E;
  border-color: #fff;
  color: #fff;
}


.for_pass a, .for_pass a:hover{
  color: #fff;
  float: right;
  font-style: italic;
  font-size:19px;
}


.for_pass{
  margin-top: 25px;
}

.btn-login{
  margin-top: 25px;
}

.form input::placeholder{
  color: #fff;
  opacity: 1; 
}

.lblin{
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}