<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img class="logo" src="./assets/img/soccertrial (1).png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search">
                    <button class="btn my-2 my-sm-0 search" type="submit"><i class="fas fa-search searchicn"></i></button>
                </form>
                <ul class="navbar-nav m-auto text-center hidden-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="gotoVideo()"><i class="fas fa-photo-video"></i>MY VIDEOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-comment-dots"></i>INBOX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cog"></i>SETTINGS</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav m-auto">
                <!--
                <li class="nav-item">
                    <a class="link1" (click)="logout()" href="#">LOGOUT</a>
                </li>  
                -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" (click)="logout()" >LOGOUT</button>
                        <button class="dropdown-item" (click)="gotoProfile()" >Profile</button>
                        <button class="dropdown-item" (click)="gotoProfileEdit()" >Profile Edit</button>
                        <button class="dropdown-item" (click)="gotoVideo()" > Video </button>
                        <button class="dropdown-item" (click)="gotoIndex()" > Inbox </button>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</header>

<!----------menu section---------->
<div class="content-container">

    <section class="meau">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="home">
                        <a href="#">
                        <i class="fas fa-home menu"></i>
                        <h1 class="hometag">HOME</h1>
                        </a>
                    </div>
                    <div class="home">
                        <a (click)="gotoVideo()">
                            <i class="fas fa-photo-video menu"></i>
                            <h1 class="hometag">MY VIDEOS</h1>
                        </a>
                    </div>
                    <div class="home">
                        <a (click)="gotoIndex()">
                            <i class="far fa-comment-dots menu"></i>
                            <h1 class="hometag">INBOX</h1>
                        </a>
                    </div>
                    <div class="home">
                        <a href="#">
                            <i class="fas fa-cog menu"></i>
                            <h1 class="hometag">SETTINGS</h1>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 text-center">
                    <a>
                        <div class="user">
                            <img [src]="url" id="thumbnial" style="height: 110px;width: 90px;" />
                            <h2 class="user-header">{{fstName}}</h2>
                        </div>
                    </a>
                </div>
    
                <div class="col-md-4 text-center">
                    <div class="bar">
                        <img src="./assets/img/bar.png" alt="" width="100">
                        <h2 class="user-header">STATS</h2>
                    </div>
                </div>    
            </div>
        </div>
    </section>
    
    <!----------new section---------->
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
    
                </div>
                <div class="col-md-8 text-center">
                  <div class="news-inner">
                      <h1 class="news-header">News and Announcements</h1>
                      <div class="main-news">
                        <div class="media">
                            <img class="mr-3" src="./assets/img/avater.png" alt="Generic placeholder image" width="50">
                            <div class="media-body text-left">
                                <h5 class="mt-0">John Doe</h5>
                                <p>Sed vel urna vitae augue dapibus viverra. Sed sit t
                                imperdiet felis. Quisque quis lorem nibh.
                                Duis dignissim vitae tellus ac</p>
                            </div>
                        </div>
                      </div>
                    <div class="main-news">
                        <div class="media">
                            <img class="mr-3" src="./assets/img/avater.png" alt="Generic placeholder image" width="50">
                            <div class="media-body text-left">
                                <h5 class="mt-0">John Doe</h5>
                                <p>Sed vel urna vitae augue dapibus viverra. Sed sit t
                                imperdiet felis. Quisque quis lorem nibh. 
                                Duis dignissim vitae tellus ac</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!------footer section-->
<footer>
    <div class="footer-nav">
        <ul class="nav">
            <li class="list"><a href="#">Agb</a></li>
            <li class="list"><a href="#">Impressum</a></li>
            <li class="list"><a href="#">Morbi Group</a></li>
            <li class="list"><a href="#">Morbi Group</a></li>
            <li class="list"><a href="#">Language: <p class="language">Espanol</p></a></li>
        </ul>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="footer-last">Morbi 2020 - Copyright</p>
                </div>
            </div>
        </div>
    </div>
</footer>
